body{
    background-image: url("../img/background-pc.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*min-height: 100vh;*/
    display: flex;
      flex-direction: column;
    
}
div#inicio{
    min-height: 100vh;
}
@font-face{
    font-family: 'Forte';
    src: url(webfonts/FORTE.TTF);
}
.text-forte{
    font-family: Forte;
}
#logo{
    height: 35px;
}
table{
    border-collapse: collapse;
}

.scroll{
    overflow:hidden;
    height: 70vh;
    
}
.scroll:hover{
    overflow-y:auto;
    height: 70vh;

}